<div class="container-fluid contact_content" id="contact">
  <div class="row d-flex justify-content-center align-content-center flex-wrap contact_content">
    <div class="col-xl-8 col-lg-10 col-md-12">
      <div class="row pt-3 pb-3 contact_bgColor rounded-3 justify-content-center">
        <h1 class="contact_fontStyle--title text-center p-4">Me contacter</h1>
        <div id="resultMsg" class="text-center message_result mb-4 col-6 rounded-3"></div>
        <div class="row">
          <form class="col-lg-6 col-md-12" (submit)="onSubmit($event)">
            <div class="mb-3">
              <label for="email" class="form-label contact_label">Votre email</label>
              <input type="email" class="form-control" id="email" (change)="handleEmailChange($event)">
            </div>
            <div class="mb-3">
              <label for="sujet" class="form-label contact_label">Sujet</label>
              <input type="text" class="form-control" id="sujet" (change)="handleSubjectChange($event)">
            </div>
            <div class="mb-3">
              <label for="message" class="form-label contact_label">Message</label>
              <textarea class="form-control" id="message" rows="3" (change)="handleMessageChange($event)"></textarea>
            </div>
            <div class="mb-3">
              <input type="submit" class="btn btn-default contact_btn" value="Envoyer">
            </div>
          </form>
          <div class="col-lg-6 col-md-12 mt-5">
            <div class="p-2 contact_left--text"><span class="contact_font">Email :</span> thierry.drouin@epitech.eu</div>
            <div class="p-2 contact_left--text"><span class="contact_font">Téléphone :</span> 06-14-92-07-96</div>
            <div class="row justify-content-start mt-3 ms-1">
              <div class="col-1">
                <a href="https://www.linkedin.com/in/thierry-drouin-rya" target="_blank">
                  <img src="/assets/linkedin.png" alt="Linkedin" class="Linkedin">
                </a>
              </div>
              <div class="col-1">
                <a href="https://github.com/Ryazza" target="_blank">
                  <img src="/assets/github.png" alt="Github" class="Linkedin">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
