<div class="container-fluid aboutMe_content" id="aboutMe">
  <div class="row d-flex justify-content-center align-content-center flex-wrap">
    <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12">
      <div class="row pt-3 pb-3 aboutMe_bgColor rounded-3">
        <h1 class="aboutMe_font aboutMe_font--h1 aboutMe_fontStyle--lobster text-center p-4">Présentation</h1>
        <p class="text-center aboutMe_font aboutMe_font--p">Après un parcours de 10 ans en tant que boulanger-pâtissier, je
          souhaite me réorienter vers le développement web. Actuellement
          en formation à Epitech dans la web Académie, je recherche
          un contrat professionnel d'un an pour poursuivre mon projet de
          reconversion.</p>
      </div>
      <div class="separator mt-4"></div>
    </div>
  </div>
</div>
