.portfolio_content {
  background-color: #334547;
}
.portfolio_font--title {
  font-family: 'Lobster', cursive;
  color: #FADFC2;
  font-size: 50px;
}
.separator {
  border-bottom: 3px solid #FFBB98;
  width: 20%;
  margin: 0 auto;
}
.portfolio_fond--blanc {
  background-color: rgba(255, 255, 255, 0.75);
}
.titre_carousel {
  font-size: 1.25em;
}
