/* You can add global styles to this file, and also import other style files */
.mainPage_bgImage {
  background-image: url("/assets/code.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*@supports ( -webkit-touch-callout : none) {*/
/*  .mainPage_bgImage {*/
/*  }*/
/*}*/

/*@supports not ( -webkit-touch-callout : none) {*/
/*  .mainPage_bgImage {*/
/*    background-attachment: fixed;*/
/*  }*/
/*}*/
